body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #eee;
    color: #444;
    font-family: "sans-serif";
    font-size: 18px;
    line-height: 1.6em;
}

.keyBoxWrap {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyBox {
    height: 200px;
    width: 200px;
    margin: 50px;
    border-radius: 10px;
    transition: background-color 0.1s
}

.keyBoxHighlight {
    background-color: #f08700;
}
